/*  idTabs ~ Sean Catchpole  */

@font-face{
	font-family:'HPSimplified';
	src:url(hps-euro-regular-eot.eot); 
	src:url(hps-euro-regular-eot.eot?#iefix) 
	format('embedded-opentype'),  
	url('hps-euro-regular-woff.woff') format('woff'), 
	url('hps-euro-regular-ttf.ttf') format('truetype');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'HPSimplified';src:url(hps-euro-bold-eot.eot); 
	src:url(hps-euro-bold-eot.eot?#iefix) format('embedded-opentype'),  
	url('hps-euro-bold-woff.woff') format('woff'), 
	url('hps-euro-bold-ttf.ttf') format('truetype');
	font-weight:bold;
	font-style:normal
}
/* Style for Usual tabs */
body {
	font: "HPSimplified", Arial, Helvetica, sans-serif !important;
}
.usual {
  background:#eee;
  color:#111;
  width:960px;
  margin:0;
}
.usual li { list-style:none; float:left; }
.usual ul a {
  display:block;
  padding:16px 20px;
  text-decoration:none!important;
  margin:0px;
  margin-top: 3px;
  margin-left: 2px;
  font: 1.3em "HPSimplified", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#666;
  background:#eee;
	border-bottom:1px solid #eee;
}
.usual ul a:hover {
	color:#0099d8;
	background:#fff;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#000;
  background: #fff;
  margin-top: 3px;
  border-bottom: 2px solid #fff;
  cursor:default;
  }
.usual div {
	padding-top: 10px;
	*padding-top:3px;
	*margin-top:-15px;
	clear:left;
	background: #fff;
	font: 13px "HPSimplified", Arial, Helvetica, sans-serif;
}
.usual div a { 
	color:#000; 
	font-weight:bold; 
}

#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
.gradeA {
	height: 50px;
}
}